.app {
	display: flex;
	flex-flow: column nowrap;
	background: #f7f6f8;
	width: 100%;
	min-width: 700px;
	height: 100%;
}

.main {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	/*height: calc(100% - 46px);*/
	height: 100%;
}

@media (max-width: 700px) {
	.app {
		min-width: 100%;
	}
	.sidebar {
		display: none;
	}
}
