.btn-w {
	border-radius: 6px;
	background: #fff;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-bottom: 1px solid rgba(27, 31, 35, 0.25);
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.02);
	/*transition: 0.05s ease-in-out;*/
	/*transition-property: background, box-shadow;*/
}

.btn-w:active {
	color: #444;
	background: #f3f3f3;
	box-shadow: inset 0px 3px 6px -6px rgba(0, 0, 0, 0.3);
}

.btn-b {
	color: white;
	border-radius: 6px;
	background: rgb(35, 118, 249);
	height: 32px;
	border: 1px solid rgba(25, 90, 179, 0.9);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
	/*transition: 0.05s ease-in-out;*/
	/*transition-property: background, box-shadow;*/
	position: relative;
}

.btn-b:before {
	content: " ";
	position: absolute;

	border-top: 1px solid rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 26px;

	color: white;
	font-weight: bold;
	border-radius: 6px;

	top: 0;
	left: 0;
	margin-top: 0px;
}

.btn-b:active {
	background: #3b86e8;
	box-shadow: inset 0px 3px 6px -6px rgba(0, 0, 0, 0.3);
}

.btn-w:active,
.btn-b:active {
	/*box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);*/
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
	outline-width: 0;
	outline: none;
}
