<!-- <!DOCTYPE html> -->
<html lang="en">
	<head>
		<title>nodecliac</title>
		<meta charset="utf-8" />
		<meta name="description" content="nodecliac GUI (About)" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,shrink-to-fit=no"
		/>
		<link href="about.css" rel="stylesheet" />
	</head>

	<body class="noselect">
		<div class="app">
			<div class="title">nodecliac GUI</div>
			<div class="logo-cont">
				<img class="logo" src="../resources/images/LOGO2.png" />
			</div>
			<div>Copyright © 2019-2020</div>
			<div>Carlos Gabriel (@cgabriel5)</div>
			<div>v0.0.1</div>
		</div>
	</body>
</html>
