<!-- <!DOCTYPE html> -->
<html lang="en">
	<head id="head">
		<title>nodecliac</title>
		<meta charset="utf-8" />
		<meta name="description" content="nodecliac GUI" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
		<link href="../css/main.css" rel="stylesheet" />
		<script src="../js/libs/fastclick.js"></script>
		<script src="../js/libs/interaction.js"></script>
		<script src="../js/libs/funnel.js"></script>
		<script src="../js/libs/tippy-popper.js"></script>
		<script src="../js/libs/tippy.js"></script>
		<script async defer src="../js/app.js"></script>
	</head>

		<div id="splash-overlay" class="splash-overlay opa1">
			<div class="splash">
				<div class="icon">
					<div id="leaf" class="leaf"></div>
				</div>
			</div>
		</div>



	<body class="noselect">

		<div id="app" class="app">
			<div id="loader" class="loader none">
				<div class="inner">
					<!-- [https://webdesign.tutsplus.com/tutorials/how-to-create-a-loader-icon-with-svg-animations--cms-31542] -->
					<!-- [https://codepen.io/tutsplus/pen/mjOJma] -->
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
						<path
							fill="#ffffff"
							d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z"
						>
							<animateTransform
								attributeName="transform"
								type="rotate"
								from="0 25 25"
								to="360 25 25"
								dur="0.65s"
								repeatCount="indefinite"
							/>
						</path>
					</svg>
				</div>
			</div>

			<div class="status">
				<div class="left">
					<div><span class="bold">nodecliac</span> v0.0.1</div>
					<div class="btn-w btn-update none">
						<span class="btn-icon">
							<i class="fas fa-sync-alt"></i>
						</span>
						Update nodecliac
					</div>
				</div>
				<div class="right">
					<div>
						<span
							><a
								class="link"
								target="_blank"
								onclick="api.open(this.href)"
								href="https://github.com/cgabriel5/nodecliac"
								><span><i class="fab fa-github"></i></span> GitHub</a
							></span
						>
					</div>
				</div>
			</div>

			<div id="main" class="main">
				<div id="sidebar" class="sidebar">
					<div class="section">Registry</div>

					<div class="row" data-row="packages-installed">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-database"></i>
								</div>
								<div class="label">Installed</div>
							</div>
						</div>

						<div class="right">
							<div class="center left">
								<div class="loader-cont none">
									<div class="svg-loader s-loader"></div>
								</div>
								<div class="count">1</div>
							</div>
						</div>
					</div>

					<div class="row" data-row="packages-outdated">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-clock"></i>
								</div>
								<div class="label">Outdated</div>
							</div>
						</div>

						<div class="right">
							<div class="center left">
								<div class="loader-cont none">
									<div class="svg-loader s-loader"></div>
								</div>
								<div class="count">10</div>
							</div>
						</div>
					</div>

					<div class="row" data-row="packages-available">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-cloud-download-alt"></i>
								</div>
								<div class="label">Available</div>
							</div>
						</div>

						<div class="right">
							<div class="center left">
								<div class="loader-cont none">
									<div class="svg-loader s-s-loader"></div>
								</div>
								<div class="count">100</div>
							</div>
						</div>
					</div>

					<!-- 					<div class="entries">
						<div class="item">
							<div class="left">
								<div class="center">
									<div class="icon-cont">
										<i class="fas fa-download"></i>
									</div>
									<div class="label">Installed</div>
								</div>
							</div>
							<div class="right">
								<div class="count">14</div>
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="center">
									<div class="icon-cont">
										<i class="fas fa-history"></i>
									</div>
									<div class="label">Outdated</div>
								</div>
							</div>
							<div class="right">
								<div class="count">1</div>
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="center">
									<div class="icon-cont">
										<i class="fas fa-cloud-download-alt"></i>
									</div>
									<div class="label">Available</div>
								</div>
							</div>
							<div class="right">
								<div class="count">1230</div>
							</div>
						</div>
					</div> -->

					<div class="divider"></div>
					<div class="section">Tools</div>

					<div class="row" data-row="settings">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-cog"></i>
								</div>
								<div class="label">Settings</div>
							</div>
						</div>
						<div class="right"></div>
					</div>

					<div class="row" data-row="about" id="about">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-info-circle"></i>
								</div>
								<div class="label">About</div>
							</div>
						</div>
						<div class="right"></div>
					</div>

					<div class="row" data-row="update" id="update">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-sync-alt"></i>
								</div>
								<div class="label">Update</div>
							</div>
						</div>
						<div class="right"></div>
					</div>

					<div class="row" data-row="doctor" id="doctor">
						<div class="left">
							<div class="center">
								<div class="icon-cont">
									<i class="fas fa-briefcase-medical"></i>
								</div>
								<div class="label">Doctor</div>
							</div>
						</div>
						<div class="right"></div>
					</div>

					<div class="section"></div>
				</div>

				<div id="content" class="content">
					<div id="default-cont" class="default-cont">
						<div class="logo-cont">
							<div class="top-face-cont">
								<div class="top-face">
									<div class="top-face-text">$<span>_</span></div>
								</div>
							</div>
							<div class="left-face"></div>
							<div class="right-face">
								<div class="right-face-text">
									tab
								</div>
							</div>
						</div>
					</div>

					<div id="settings-cont" class="settings-cont none">
						<div class="settings-inner">
							<div class="entry">
								<div class="left">
									<div class="label">
										Enable nodecliac
									</div>
								</div>
								<div class="right">
									<div>
										<input type="checkbox" id="switch-status" class="checkbox" />
										<label for="switch-status" class="switch"></label>
									</div>
								</div>
							</div>

							<div class="entry">
								<div class="left">
									<div class="label">Cache</div>
								</div>
								<div class="right">
									<div class="actions-cont">
										<div id="action-clear-cache" class="btn-action clear-cache left">
											Clear
										</div>

										<div class="divider"></div>

										<div id="action-dynamic" class="btn-action unselected">
											<div class="icon-cont none">
												<i class="far fa-check"></i>
											</div>
											Dynamic
										</div>
										<div id="action-all" class="btn-action unselected">
											<div class="icon-cont none">
												<i class="far fa-check"></i>
											</div>
											All
										</div>
									</div>
									<div class="left">
										<input type="checkbox" id="switch-cache" class="checkbox" />
										<label for="switch-cache" class="switch"></label>
									</div>
								</div>
							</div>

							<div class="entry">
								<div class="left">
									<div class="label">Debug</div>
								</div>
								<div class="right">
									<div class="actions-cont">
										<div id="action-nim" class="btn-action unselected">
											<div class="icon-cont none">
												<i class="far fa-check"></i>
											</div>
											Nim
										</div>
										<div id="action-perl" class="btn-action unselected">
											<div class="icon-cont none">
												<i class="far fa-check"></i>
											</div>
											Perl
										</div>
									</div>
									<div class="left">
										<input type="checkbox" id="switch-debug" class="checkbox" />
										<label for="switch-debug" class="switch"></label>
									</div>
								</div>
							</div>

							<div class="entry">
								<div class="left">
									<div class="label">
										Complete Single Hyphen Flags
									</div>
								</div>
								<div class="right">
									<div>
										<div>
											<input type="checkbox" id="switch-single-flag-comp" class="checkbox" />
											<label for="switch-single-flag-comp" class="switch"></label>
										</div>
									</div>
								</div>
							</div>

							<div id="reset-settings" class="entry center reset">
								<div class="label">Reset All</div>
							</div>
						</div>
					</div>

					<div id="packages-installed-cont" class="packages-installed-cont none">
						<div class="pkg-section">
							<div class="sticky-cont">
								<div class="pkg-toolbar">
									<div class="left">
										<div class="center">
											<div class="main-check checkmark">
												<i class="fas fa-check none"></i>
											</div>

											<div class="label none">
												Package
											</div>
										</div>

										<div class="tb-action tb-action-first" data-tippy-content="Sync">
											<span>
												<i class="fas fa-redo-alt"></i>
											</span>
										</div>

										<div class="tb-actions disabled">
											<div class="tb-action tb-action-first none" data-tippy-content="Refresh">
												<span>
													<i class="fas fa-sync-alt"></i>
												</span>
											</div>

											<div class="tb-action-sep"></div>

											<div class="tb-action" data-tippy-content="Enable">
												<span>
													<i class="fas fa-toggle-on"></i>
												</span>
											</div>
											<div class="tb-action" data-tippy-content="Disable">
												<span>
													<i class="fas fa-toggle-off"></i>
												</span>
											</div>

											<div class="tb-action-sep"></div>

											<div class="tb-action" data-tippy-content="Remove">
												<span>
													<i class="fas fa-trash"></i>
												</span>
											</div>
										</div>

										<!-- prettier-ignore -->
										<div class="tb-spinner spinner none">
											<div class="svg-loader"></div>
										</div>
									</div>
									<div class="right">
										<!-- prettier-ignore -->
										<div class="search-loader center none">
											<div class="svg-loader"></div>
										</div>
										<div class="input-cont">
											<div class="search-icon">
												<i class="fas fa-search"></i>
											</div>
											<input class="header-input" placeholder="Search..." />
											<div class="search-icon-clear opa0 nointer">
												<i class="fas fa-times-circle"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="entries"></div>
							</div>
						</div>

						<div class="pkg-info">
							<div class="row">
								<div class="header">
									Completion Package Information
								</div>
							</div>
							<div class="row i-name">
								<div class="label">Name:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-description">
								<div class="label">Description:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-author">
								<div class="label">Author:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-repository">
								<div class="label">Repository:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-location">
								<div class="label">Location:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-version">
								<div class="label">Version:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-license">
								<div class="label">License:</div>
								<div class="value">--</div>
							</div>
						</div>
					</div>

					<div id="packages-outdated-cont" class="packages-outdated-cont none">
						<div class="pkg-section">
							<div class="sticky-cont">
								<div class="pkg-toolbar">
									<div class="left">
										<div class="center">
											<div class="main-check checkmark">
												<i class="fas fa-check none"></i>
											</div>

											<div class="label none">
												Package
											</div>
										</div>

										<div class="tb-action tb-action-first" data-tippy-content="Refresh List">
											<span>
												<i class="fas fa-redo-alt"></i>
											</span>
										</div>

										<div class="tb-actions disabled">
											<div class="tb-action tb-action-first none" data-tippy-content="Refresh">
												<span>
													<i class="fas fa-sync-alt"></i>
												</span>
											</div>

											<div class="tb-action-sep"></div>

											<div class="tb-action" data-tippy-content="Update">
												<span>
													<i class="fas fa-history"></i>
												</span>
											</div>
										</div>

										<!-- prettier-ignore -->
										<div class="tb-spinner spinner none">
											<div class="svg-loader"></div>
										</div>
									</div>
									<div class="right">
										<!-- prettier-ignore -->
										<div class="search-loader center none">
											<div class="svg-loader"></div>
										</div>
										<div class="input-cont">
											<div class="search-icon">
												<i class="fas fa-search"></i>
											</div>
											<input class="header-input" placeholder="Search..." />
											<div class="search-icon-clear opa0 nointer">
												<i class="fas fa-times-circle"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="entries"></div>
							</div>
						</div>

						<div class="pkg-info">
							<div class="row">
								<div class="header">
									Completion Package Information
								</div>
							</div>
							<div class="row i-name">
								<div class="label">Name:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-description">
								<div class="label">Description:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-author">
								<div class="label">Author:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-repository">
								<div class="label">Repository:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-location">
								<div class="label">Location:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-version">
								<div class="label">Version:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-license">
								<div class="label">License:</div>
								<div class="value">--</div>
							</div>
						</div>
					</div>

					<div id="packages-available-cont" class="packages-available-cont none">
						<div class="pkg-section">
							<div class="sticky-cont">
								<div class="pkg-toolbar">
									<div class="left">
										<div class="center">
											<div class="main-check checkmark">
												<i class="fas fa-check none"></i>
											</div>

											<div class="label none">
												Package
											</div>
										</div>

										<div class="tb-action tb-action-first" data-tippy-content="Refresh List">
											<span>
												<i class="fas fa-redo-alt"></i>
											</span>
										</div>

										<div class="tb-actions disabled">
											<div class="tb-action tb-action-first none" data-tippy-content="Refresh">
												<span>
													<i class="fas fa-sync-alt"></i>
												</span>
											</div>

											<div class="tb-action-sep"></div>

											<div class="tb-action" data-tippy-content="Install">
												<span>
													<i class="fas fa-download"></i>
												</span>
											</div>
										</div>

										<!-- prettier-ignore -->
										<div class="tb-spinner spinner none">
											<div class="svg-loader"></div>
										</div>
									</div>
									<div class="right">
										<!-- prettier-ignore -->
										<div class="search-loader center none">
											<div class="svg-loader"></div>
										</div>
										<div class="input-cont">
											<div class="search-icon">
												<i class="fas fa-search"></i>
											</div>
											<input class="header-input" placeholder="Search..." />
											<div class="search-icon-clear opa0 nointer">
												<i class="fas fa-times-circle"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="entries"></div>
							</div>
						</div>

						<div class="pkg-info">
							<div class="row">
								<div class="header">
									Completion Package Information
								</div>
							</div>
							<div class="row i-name">
								<div class="label">Name:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-description">
								<div class="label">Description:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-author">
								<div class="label">Author:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-repository">
								<div class="label">Repository:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-location">
								<div class="label">Location:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-version">
								<div class="label">Version:</div>
								<div class="value">--</div>
							</div>
							<div class="row i-license">
								<div class="label">License:</div>
								<div class="value">--</div>
							</div>
						</div>
					</div>

					<div id="about-cont" class="about-cont none">
						<div class="logo-cont">
							<div class="top-face-cont">
								<div class="top-face">
									<div class="top-face-text">$<span class="blink-caret">_</span></div>
								</div>
							</div>
							<div class="left-face"></div>
							<div class="right-face">
								<div class="right-face-text">
									tab
								</div>
							</div>
						</div>

						<div class="title">nodecliac</div>
						<div>Copyright © 2019-2020</div>
						<div>Carlos A. Gabriel</div>
					</div>

					<!-- 					<div id="update-cont" class="update-cont none">
						<div class="top-cont">
							<div class="left"></div>
							<div class="right">
								<div
									id="update-clear"
									class="btn btn-w btn-update"
									data-action="clear"
								>
									Clear Log
								</div>
								<div
									id="update-update"
									class="btn btn-b btn-update-b"
									data-action="update"
								>
									Update
								</div>
							</div>
						</div>
						<div class="bottom-cont">
							<div id="update-output" class="update-output">
								nodecliac update --installer=nim...
							</div>
						</div>
					</div> -->

					<div id="update-cont" class="update-cont none">
						<div class="top-cont">
							<div class="left">
								<!-- prettier-ignore -->
								<div id="update-spinner" class="none">
									<div class="svg-loader"></div>
								</div>
							</div>
							<div class="right">
								<div id="update-clear" class="btn btn-w btn-update" data-action="clear-update">
									Clear Log
								</div>
								<div id="update-update" class="btn btn-b btn-update-b" data-action="update">
									Update
								</div>
							</div>
						</div>
						<div class="bottom-cont">
							<div id="update-output" class="update-output select"></div>
						</div>
					</div>

					<div id="doctor-cont" class="doctor-cont none">
						<div class="top-cont">
							<div class="left">
								<!-- prettier-ignore -->
								<div id="doctor-spinner" class="none">
									<div class="svg-loader"></div>
								</div>
							</div>
							<div class="right">
								<div id="doctor-clear" class="btn btn-w btn-update" data-action="clear-doctor">
									Clear Log
								</div>
								<div id="doctor-run" class="btn btn-b btn-update-b" data-action="run">
									Run
								</div>
							</div>
						</div>
						<div class="bottom-cont">
							<div id="doctor-output" class="doctor-output select"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
