<!-- <!DOCTYPE html> -->
<html lang="en">
	<head id="head">
		<title>nodecliac</title>
		<meta charset="utf-8" />
		<meta name="description" content="nodecliac GUI" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,shrink-to-fit=no"
		/>
		<link href="../css/main.css" rel="stylesheet" />
		<!-- 		<link
			href="../resources/fonts/fontawesome-pro-5.14.0-web/css/all.css"
			rel="stylesheet"
		/> -->

		<!-- 		<link
			href="../resources/fonts/google-webfonts/css/all.css"
			rel="stylesheet"
		/>
 -->
		<!-- 		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Hind:wght@300;400;600&family=Roboto:wght@700&family=Roboto+Mono:wght@700&display=swap"
			rel="stylesheet"
			async=""
			defer=""
		/> -->

		<script src="../js/libs/interaction.js"></script>
		<script src="../js/libs/funnel.js"></script>
		<!-- <script src="../js/libs/monitor.js"></script> -->
		<script async defer src="../js/app.js"></script>
	</head>

	<body class="noselect">
		<div id="splash-overlay" class="splash-overlay opa1">
			<div class="splash">
				<div class="icon">
					<div id="leaf" class="leaf"></div>
				</div>
			</div>
		</div>

		<div id="app" class="app">
			<div id="loader" class="loader none">
				<div class="loader-cont">
					<!-- <i class="fas fa-spinner-third fa-spin"></i> -->
					<!-- [https://loading.io/css/] -->
					<!--
<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
 -->

					<!-- [https://webdesign.tutsplus.com/tutorials/how-to-create-a-loader-icon-with-svg-animations--cms-31542] -->
					<!-- [https://codepen.io/tutsplus/pen/mjOJma] -->
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="50"
						height="50"
						viewBox="0 0 50 50"
					>
						<path
							fill="#ffffff"
							d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z"
						>
							<animateTransform
								attributeName="transform"
								type="rotate"
								from="0 25 25"
								to="360 25 25"
								dur="0.65s"
								repeatCount="indefinite"
							/>
						</path>
					</svg>
				</div>
			</div>

			<div class="status">
				<div class="left">
					<div><span class="bold">nodecliac</span> v0.0.1</div>
					<div class="button-light update-btn">
						<span class="update-btn-icon">
							<i class="fas fa-sync-alt"></i>
							<!-- <img src="../resources/images/fontawesome/sync.svg"/> -->
						</span>
						Update nodecliac
					</div>
				</div>
				<div class="right">
					<div>
						<span
							><a
								class="link"
								target="_blank"
								onclick="api.open(this.href)"
								href="https://github.com/cgabriel5/nodecliac"
								><span><i class="fab fa-github"></i></span>
								GitHub</a
							></span
						>
					</div>
				</div>
			</div>

			<div id="main" class="main">
				<div id="sidebar" class="sidebar">
					<div class="sb-row" data-row="packages">
						<div class="left">
							<div class="center">
								<div class="sb-row-icon-cont">
									<!-- <div class="sb-row-icon arrow-down"></div> -->
									<i class="fas fa-database"></i>
								</div>
								<div class="sb-label">Registry</div>
							</div>
						</div>

						<div class="right"><div class="left"></div></div>
					</div>

					<div class="entries">
						<div class="entry-item">
							<div class="left">
								<div class="entry-icon"></div>
								<div class="entry-label">Installed</div>
							</div>
							<div class="right">
								<div class="entry-count">14</div>
							</div>
						</div>
						<div class="entry-item">
							<div class="left">
								<div class="entry-icon"></div>
								<div class="entry-label">Outdated</div>
							</div>
							<div class="right">
								<div class="entry-count">1</div>
							</div>
						</div>
						<div class="entry-item">
							<div class="left">
								<div class="entry-icon"></div>
								<div class="entry-label">Available</div>
							</div>
							<div class="right">
								<div class="entry-count">1230</div>
							</div>
						</div>
					</div>

					<div class="sb-row" data-row="settings">
						<div class="left">
							<div class="center">
								<div class="sb-row-icon-cont">
									<i class="fas fa-sliders-h"></i>
									<!-- <div class="sb-row-icon arrow-right"></div> -->
								</div>
								<div class="sb-label">Settings</div>
							</div>
						</div>
						<div class="right"></div>
					</div>

					<div class="sb-row" data-row="about" id="about">
						<div class="left">
							<div class="center">
								<div class="sb-row-icon-cont">
									<i class="fas fa-info-circle"></i>
									<!-- <div class="sb-row-icon arrow-right"></div> -->
								</div>
								<div class="sb-label">About</div>
							</div>
						</div>
						<div class="right"></div>
					</div>
				</div>

				<div id="content" class="content">
					<div id="settings-cont" class="settings-cont none">
						<div class="setting-entry">
							<div class="left">
								<div class="setting-label">
									Enable nodecliac
								</div>
							</div>
							<div class="right">
								<div>
									<input
										type="checkbox"
										id="switch-status"
										class="checkbox"
									/>
									<label
										for="switch-status"
										class="switch"
									></label>
								</div>
							</div>
						</div>

						<div class="setting-entry">
							<div class="left">
								<div class="setting-label">Cache</div>
							</div>
							<div class="right">
								<div class="setting-action-btns-cont">
									<div
										id="setting-action-btn-clear-cache"
										class="setting-action-btn cache-clear-btn left"
									>
										clear
									</div>

									<div class="settings-divider"></div>

									<div
										id="setting-action-btn-dynamic"
										class="setting-action-btn setting-action-btn-left setting-action-btn setting-action-btn-unselected"
									>
										<div class="btn-setting-icon none">
											<i class="fas fa-check"></i>
										</div>
										dynamic
									</div>
									<div
										id="setting-action-btn-all"
										class="setting-action-btn setting-action-btn-right setting-action-btn-unselected"
									>
										<div class="btn-setting-icon none">
											<i class="fas fa-check"></i>
										</div>
										all
									</div>
								</div>
								<div class="left">
									<input
										type="checkbox"
										id="switch-cache"
										class="checkbox"
									/>
									<label
										for="switch-cache"
										class="switch"
									></label>
								</div>
							</div>
						</div>

						<div class="setting-entry">
							<div class="left">
								<div class="setting-label">Debug</div>
							</div>
							<div class="right">
								<div class="setting-action-btns-cont">
									<div
										id="setting-action-btn-nim"
										class="setting-action-btn setting-action-btn-left setting-action-btn-unselected"
									>
										<div class="btn-setting-icon none">
											<i class="fas fa-check"></i>
										</div>
										nim
									</div>
									<div
										id="setting-action-btn-perl"
										class="setting-action-btn setting-action-btn-right setting-action-btn setting-action-btn-unselected"
									>
										<div class="btn-setting-icon none">
											<i class="fas fa-check"></i>
										</div>
										perl
									</div>
								</div>
								<div class="left">
									<input
										type="checkbox"
										id="switch-debug"
										class="checkbox"
									/>
									<label
										for="switch-debug"
										class="switch"
									></label>
								</div>
							</div>
						</div>

						<div class="setting-entry">
							<div class="left">
								<div class="setting-label">
									Complete Single Hyphen Flags
								</div>
							</div>
							<div class="right">
								<div>
									<div>
										<input
											type="checkbox"
											id="switch-single-flag-comp"
											class="checkbox"
										/>
										<label
											for="switch-single-flag-comp"
											class="switch"
										></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="packages-cont" class="packages-cont">
						<div id="pkg-list" class="pkg-list">
							<div>
								<div class="pkg-list-header-cont">
									<div class="left">
										<div class="center">
											<div
												id="select-all-toggle"
												class="pkg-entry-icon"
											>
												<i class="fas fa-square"></i>
											</div>

											<div class="pkg-list-header-label">
												Package
											</div>
										</div>

										<div
											id="pkg-list-header-actions"
											class="pkg-list-header-actions pkg-list-header-actions-disabled"
										>
											<div
												class="pkg-list-header-action pkg-list-header-action-left"
											>
												<span
													class="pkg-list-header-action-icon pkg-list-header-action-left"
												>
													<i
														class="fas fa-sync-alt"
													></i>
												</span>
											</div>
											<div
												class="pkg-list-header-action pkg-list-header-action-middle"
											>
												<span
													class="pkg-list-header-action-icon"
												>
													<i class="fas fa-trash"></i>
												</span>
											</div>
											<div
												class="pkg-list-header-action pkg-list-header-action-middle-2"
											>
												<span
													class="pkg-list-header-action-icon"
												>
													<i
														class="fas fa-toggle-on"
													></i>
												</span>
											</div>
											<div
												class="pkg-list-header-action pkg-list-header-action-right"
											>
												<span
													class="pkg-list-header-action-icon"
												>
													<i
														class="fas fa-toggle-off"
													></i>
												</span>
											</div>
										</div>
									</div>
									<div class="right">
										<div class="pkg-header-input-cont">
											<div class="pkg-header-search">
												<i class="fas fa-search"></i>
											</div>
											<input
												id="pkg-header-input"
												class="pkg-header-input"
												placeholder="Search..."
											/>
										</div>
									</div>
								</div>
								<div
									id="pkg-list-entries"
									class="pkg-list-entries"
								></div>
							</div>
						</div>

						<div class="pkg-info">
							<div class="pkg-info-row">
								<div class="pkg-info-header">
									Completion Package Information
								</div>
							</div>
							<div id="pkg-info-row-name" class="pkg-info-row">
								<div class="pkg-info-label">Name:</div>
								<div class="pkg-info-value"></div>
							</div>
							<div
								id="pkg-info-row-description"
								class="pkg-info-row"
							>
								<div class="pkg-info-label">Description:</div>
								<div class="pkg-info-value"></div>
							</div>
							<div id="pkg-info-row-author" class="pkg-info-row">
								<div class="pkg-info-label">Author:</div>
								<div class="pkg-info-value"></div>
							</div>
							<div
								id="pkg-info-row-repository"
								class="pkg-info-row"
							>
								<div class="pkg-info-label">Repository:</div>
								<div class="pkg-info-value"></div>
							</div>
							<div
								id="pkg-info-row-location"
								class="pkg-info-row"
							>
								<div class="pkg-info-label">Location:</div>
								<div class="pkg-info-value"></div>
							</div>
							<div id="pkg-info-row-version" class="pkg-info-row">
								<div class="pkg-info-label">Version:</div>
								<div class="pkg-info-value"></div>
							</div>
							<div id="pkg-info-row-license" class="pkg-info-row">
								<div class="pkg-info-label">License:</div>
								<div class="pkg-info-value"></div>
							</div>
						</div>
					</div>

					<div id="about-cont" class="about-cont none">
						<div class="about-logo-cont none">
							<img
								class="about-logo"
								src="../resources/images/LOGO2.png"
							/>
						</div>

						<div class="logo-wrapper">
							<div class="logo-top-face-cont">
								<div class="logo-top-face">
									<div class="logo-top-face-text">
										$<span class="blink-caret">_</span>
									</div>
								</div>
							</div>
							<div class="logo-left-face"></div>
							<div class="logo-right-face">
								<div class="logo-right-face-text">
									tab
								</div>
							</div>
						</div>

						<div class="about-title">nodecliac</div>
						<div>Copyright © 2019-2020</div>
						<div>Carlos A. Gabriel</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
