/* Stick position + FlexBox + Overflow:; */
/* [https://uxdesign.cc/position-stuck-96c9f55d9526] */

.content {
	width: 100%;
	height: 100%;
}

.packages-cont {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	background: #ffffff;
	width: 100%;
	height: 100%;
}

.pkg-list {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	overscroll-behavior: contain;
}

/* Improve this as it hinders window resize performance. */
.pkg-list--disable::before {
	width: 100%;
	height: 100%;

	background-image: url("../../resources/images/LOGO2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	background-size: 25%;
	/* [https://stackoverflow.com/a/53068329] */
	background-blend-mode: luminosity;

	/* [https://coder-coder.com/background-image-opacity/] */
	content: "";
	position: absolute;
	opacity: 0.035;
}

.pkg-list-entries {
	height: auto;
	bottom: 0;
	overflow: auto;
}

.pkg-entry {
	display: flex;
	flex-flow: row nowrap;
	padding: 4px 20px;
	width: 100%;
	border-bottom: 1px solid transparent;
}

/* [https://davidwalsh.name/css-tables-css3-alternate-row-colors] */
.pkg-entry:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}
.pkg-entry:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.03);
}

.pkg-entry-selected {
	background: rgb(16, 103, 222) !important;
	color: white;
	border-bottom: 1px solid white;
}

.pkg-list-header-cont {
	position: -webkit-sticky;
	position: sticky !important;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: rgba(247, 246, 248, 1);
	padding: 4px 20px;
	border-bottom: 2px solid #ececec;
}

.pkg-list-header-label {
	font-weight: bold;
	padding: 5px;
}

.pkg-header-input-cont {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.01);
	transition: width 0.25s cubic-bezier(0.11, 0.38, 0.01, 0.99);
	background: white;
}
.pkg-header-input {
	outline: none;
	padding: 0px;
	width: 200px;
	height: 38px;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.04);
	padding: 4px 15px;
	border: none;
	background: transparent;
	border-radius: 6px;
	transition: width 0.25s cubic-bezier(0.11, 0.38, 0.01, 0.99);
}

.pkg-header-input:active,
.pkg-header-input:focus {
	width: 300px;
	transition: width 0.2s cubic-bezier(0.11, 0.38, 0.01, 0.99);
}
.pkg-header-input-cont:focus-within {
	background: white;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
	transition: width 0.2s cubic-bezier(0.11, 0.38, 0.01, 0.99);
	border: 1px solid transparent;
}

/* Package Information */

.pkg-info {
	width: 100%;
	height: 300px;
	border-top: 2px solid rgba(0, 0, 0, 0.04);
	background: #f7f6f8;
	padding: 10px;
}

.pkg-info-row {
	display: flex;
	flex-flow: row nowrap;
}

.pkg-info-header {
	font-weight: bold;
	color: #707982;
}

.pkg-info-label {
	color: #999999;
}

.pkg-info-value {
	margin-left: 15px;
	color: #999999;
}
