/* Stick position + FlexBox + Overflow:; */
/* [https://uxdesign.cc/position-stuck-96c9f55d9526] */

.packages-cont {
	display: flex;
	flex-flow: column nowrap;
	/*justify-content: space-between;*/
	background: #ffffff;
	width: 100%;
	height: 100%;
}

.packages-cont .pkg-list {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	overscroll-behavior: contain;
}

/* Improve this as it hinders window resize performance. */
.packages-cont .pkg-list--disable::before {
	width: 100%;
	height: 100%;

	background-image: url("../../resources/images/LOGO2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	background-size: 25%;
	/* [https://stackoverflow.com/a/53068329] */
	background-blend-mode: luminosity;

	/* [https://coder-coder.com/background-image-opacity/] */
	content: "";
	position: absolute;
	opacity: 0.035;
}

.packages-cont .entries {
	/*height: auto;*/
	height: 100%;
	bottom: 0;
	overflow: auto;
}

.packages-cont .empty {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-weight: bold;
	color: #c6c6c6;
	color: rgb(110, 110, 110);
	font-size: 34px;
}

.packages-cont .entry {
	display: flex;
	flex-flow: row nowrap;
	padding: 3px 10px;
	width: 100%;
	/*border-bottom: 1px solid transparent;*/
}

/* [https://davidwalsh.name/css-tables-css3-alternate-row-colors] */
.packages-cont .entry:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.03);
}
.packages-cont .entry:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.05);
}

.packages-cont .entry:first-of-type {
	margin-top: 1px;
}

.packages-cont .icon-selected {
	color: rgb(16, 103, 222);
}

.packages-cont .selected .icon-cont {
	color: rgba(255, 255, 255, 1) !important;
	opacity: 1;
}

.packages-cont .selected .icon-selected {
	background: rgb(16, 103, 222) !important;
	color: white;
}

.packages-cont .selected {
	background: rgb(16, 103, 222) !important;
	color: white;
}

.packages-cont .sticky-cont {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.packages-cont .header-cont {
	position: -webkit-sticky;
	position: sticky !important;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: rgba(247, 246, 248, 1);
	padding: 2px 10px;
	border-bottom: 1px solid #e5e5e5;

	/* So that checkbox images display under. */
	z-index: 1;

	min-height: 45px;
	position: relative;
}

/*.packages-cont .header-cont:before {
	content: " ";
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid white;
}
*/

.packages-cont .icon-cont {
	font-size: 20px;
	/* opacity: 0.075; */
	margin-right: 10px;
	position: relative;
	/*color: #cacaca;*/
	color: rgb(204, 204, 204);
	background: white;
}

.packages-cont .icon-cont i {
	line-height: 0.8;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.packages-cont .header-actions {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	transition: all 0.1s ease-in-out;

	transition-property: opacity, color;
	color: rgb(85, 85, 85);
}

.packages-cont .header-actions.disabled {
	opacity: 0;
	color: rgb(155, 155, 155);
	pointer-events: none;

	transition: all 0.1s ease-in-out;
	transition-property: opacity, color;
}

.packages-cont .btn-header {
	/*height: 35px;*/
	padding: 10px 12px;
	/* font-size: 18px; */
	border-radius: 6px;
	/* font-weight: bold; */
	/*cursor: pointer;*/
	/* border: 1px solid rgba(27, 31, 35, 0.15); */ /* margin-right: 5px; */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	/* color: #444; */
	color: rgb(85, 85, 85);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.04);
	animation: btn-header-fadein--disable 0.15s linear;
	animation-fill-mode: both;
}

/* [https://stackoverflow.com/a/8294491] */

@keyframes btn-header-fadein {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	85% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.packages-cont .btn-header:nth-child(1) {
	animation-delay: 0.01s;
}
.packages-cont .btn-header:nth-child(2) {
	animation-delay: 0.05s;
}
.packages-cont .btn-header:nth-child(3) {
	animation-delay: 0.1s;
}
.packages-cont .btn-header:nth-child(4) {
	animation-delay: 0.15s;
}

.packages-cont .btn-header:hover {
	background: #e8e8e8;
}

.packages-cont .btn-header:active {
	background: #dddddd;
	/*box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.07);*/
}

.packages-cont .spinner {
	max-height: 0;
	margin: -8px 0 0 0;
}

.packages-cont .input-cont {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.01);
	transition: width 0.25s cubic-bezier(0.11, 0.38, 0.01, 0.99);
	background: white;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.packages-cont .search-icon {
	padding: 0 0 0 7px;
	margin-right: -5px;
	color: #999;
}

.packages-cont .search-icon-clear {
	padding: 0 0 0 10px;
	margin-right: 5px;
	color: #999;
	font-size: 18px;
}

.packages-cont .search-icon-clear:active {
	color: #555;
}

.packages-cont .header-input {
	outline: none;
	width: 200px;
	height: 33px;
	padding: 4px 0px 4 15px;
	border: none;
	background: transparent;
	/*transition: width 0.25s cubic-bezier(0.11, 0.38, 0.01, 0.99);*/
	font-size: 20px;
}

/*.packages-cont .header-input:active,
.packages-cont .header-input:focus {
	width: 300px;
	transition: width 0.2s cubic-bezier(0.11, 0.38, 0.01, 0.99);
}*/
.packages-cont .input-cont:focus-within {
	background: white;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.7);
	/*transition: width 0.2s cubic-bezier(0.11, 0.38, 0.01, 0.99);*/
	border: 1px solid transparent;
}
.packages-cont .input-cont:focus-within .search-icon,
.packages-cont .input-cont:focus-within .search-icon-clear {
	color: #444;
}

/* PACKAGE INFORMATION */

.pkg-info {
	min-width: 100%;
	min-height: 275px;
	overflow: auto;
	border-top: 1px solid #e5e5e5;
	background: #f7f6f8;
	background: #fbfafc;
	padding: 10px;
	position: relative;
}

.pkg-info:before {
	content: " ";
	position: absolute;
	display: inline;

	width: 100%;

	top: 0;
	left: 0;

	border-top: 1px solid white;
}
.pkg-info .row {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.pkg-info .header {
	font-weight: bold;
	color: #707982;
}

.pkg-info .label {
	color: #999999;

	/*display: flex;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pkg-info .value {
	margin-left: 10px;
	color: #333333;
	display: flex;
	flex-grow: 1;
	width: 40px;
	/* [https://stackoverflow.com/a/17783233] */
	/* [https://stackoverflow.com/a/7993098] */
	/* [https://stackoverflow.com/a/25367443] */
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
