.sidebar {
	background: #fbfafc;
	/*background: #f7f6f8;*/
	min-width: 325px;
	height: 100%;
	border-right: 2px solid #ececec;
	/*padding-top: 10px;*/
	overflow: auto;
	/*color: rgb(95, 95, 95);*/
}

.sb-row {
	display: flex;
	flex-flow: row nowrap;
	color: #333333;
	/*justify-content: start;*/
	justify-content: space-between;
	align-items: center;
	/*color: rgb(65, 65, 65);*/
	/*font-weight: bold;*/
	padding: 7px 7px 7px 15px;
}

/*.sb-row:hover {
	background: rgba(0, 0, 0, 0.05);
}
*/
.sb-row-selected {
	/*background: #327dff !important;*/
	background: rgba(0, 0, 0, 0.05) !important;
	/*color: #ffffff;*/
	/*border-right: 4px solid rgb(26, 115, 232);*/
}

.sb-row-selected .sb-row-icon-cont,
.sb-row-selected .sb-label {
	color: #333;
}

.sb-label {
	color: rgb(55, 55, 55);
}

.sb-row-icon-cont {
	display: block;
	margin-right: 5px;
	width: 30px;
	color: rgb(135, 135, 135);
}

.sb-row-icon-cont i {
	font-weight: bold;
	font-size: 24px;
}

.entry-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 5px 0 5px 52px;
	width: 100%;
}

/*.entry-item:hover {
	background: rgba(0, 0, 0, 0.035);
}
*/
.item-active {
	background: #327dff;
	color: #ffffff;
	border-radius: 5px;
}

.entry-icon {
	display: none;
	background-image: url("file_type_text@3x.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

.entry-count {
	padding: 2px 12px;
	border-radius: 20px;
	/*background: #327dff;*/
	background: #a9b8d3;
	background: rgb(29, 131, 246);
	background: rgb(26, 115, 232);
	color: white;
	font-weight: bold;
	margin-right: 15px;
	transform: scale(0.85);
}

/* Sidebar icon CSS arrows */

/* [https://css-tricks.com/snippets/css/css-triangle/] */
.arrow-right {
	margin-top: 8px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 9px solid #999999;
}
.arrow-down {
	margin-top: 12px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 9px solid #7e7d7e;
}
