body {
	margin: auto;
	font-family: Hind, sans-serif;
	color: #24292e;
}

.header-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 5px 50px;
	background: rgb(248, 248, 248);
}

.header-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 950px;
}

.nav-logo {
	background: #699935;
	width: 20px;
	height: 20px;
	border-radius: 400px 1000px 0 1000px;
}

.nav-item {
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
}

.nav-item span {
	height: 20px;
}

.nav-right-links {
	display: flex;
}

.topic-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	margin-top: 0px;
	padding-top: 30px;
}

.topic {
	padding: 80px 0;
	margin: 0px 0 0 0;
	border-bottom: 1px solid #ededed;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 950px;
}

.tags-cont {
	display: flex;
	margin-top: 15px;
}

.topic-logo {
	display: flex;
	width: 160px;
	height: 78px;
}

.logo-wrapper {
	transform: rotateY(20deg) scale(0.7);
	margin-left: 80px;
	margin-top: 35px;
}

.logo-top-face-cont {
	transform: rotate(-60deg);
}

.logo-top-face {
	width: 100px;
	height: 115px;
	border: 2px solid #59666c;
	border: 2px solid #000000;
	border-bottom: 0px;
	border-left: 0px;
	border-radius: 0px 5px 0px 0px;
	background: white;
	position: absolute;
	transform: skewY(30deg);
	top: -72px;
	left: -25px;
}

.logo-top-face-text {
	font-family: Roboto Mono;
	font-weight: bold;
	font-size: 40px;
	margin-top: 55px;
	margin-left: 5px;
	color: #59666c;
	color: #333;
}

/*[https://codepen.io/ArtemGordinsky/pen/GnLBq]*/
.blink-caret {
	color: #72a824;
	animation: 1s blink step-end infinite;
	animation-delay: 1s;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #72a824;
	}
}

.logo-left-face {
	width: 100px;
	height: 60px;
	border: 2px solid #59666c;
	border: 2px solid #000000;
	border-right: 1px solid #000000;
	border-radius: 0px 0px 0px 5px;
	background: white;
	position: absolute;
	transform: skewY(30deg);
	margin-left: -100px;
}

.logo-right-face {
	width: 100px;
	height: 60px;
	border: 2px solid #59666c;
	border-left: 1px solid #59666c;
	border: 2px solid #000000;
	border-left: 1px solid #000000;
	border-radius: 0px 0px 5px 0px;
	background: #f2f2f2;
	position: absolute;
	transform: skewY(-30deg);
}
.logo-right-face-text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
	margin-left: 8px;
	color: #59666c;
	color: #333;
}

.tabkey {
	border-top: 1px solid #fff;
	border-radius: 6px;
	padding: 3px 20px;
	height: 55px;
	width: 90px;
	background: white;
	border-bottom: 4px solid #00000012;
	cursor: pointer;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0),
		0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.tabkey:active {
	border-top: 0px solid transparent;
	border-bottom: 0px;
	border-radius: 6px;
	padding: 3px 20px;
	height: 50px;
	width: 90px;
	margin-top: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.tabkey-text {
	font-size: 16px;
	font-weight: bold;
	color: #888;
	margin-top: 20px;
	margin-left: -10px;
}

.topic-tag {
	padding: 0 5px;
	border-radius: 3px;
	font-size: 12px;
	background: white;
	border: 1px solid #333;
	align-self: flex-end;
	text-transform: lowercase;
	font-weight: bold;
	margin-left: 5px;
	line-height: 20px;
	/*height: 24px;*/
	padding: 1px 5px 0 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.text-cont {
	display: flex;
	flex-flow: column nowrap;
}

.topic-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.topic-title-text {
	font-size: 41px;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	letter-spacing: -3px;
}

.topic-title-side {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #909090;
	margin-left: 10px;
	margin-top: 15px;
}

.topic-description {
	font-family: "Rubik", sans-serif;
	margin-top: -5px;
	font-size: 18px;
	font-weight: 200;
}

.title-name {
	font-size: 38px;
}

.message-description {
	font-size: 18px;
	font-weight: 300;
}

.bold4 {
	font-weight: 400;
}

.bold {
	font-weight: 600;
}

.dim {
}

.list-bullet {
	font-size: 16px;
	font-weight: bold;
	padding-left: 7px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 100px;
	line-height: 28px;
	min-width: 20px;
}

code {
	background: #fff5cc;
	color: #71471c;
	margin: 0;
	border-radius: 3px;
	padding: 0 3px;
	font-size: 85%;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	display: inline-block;
}

.italic {
	font-style: italic;
}

.flag-name,
.operator {
	color: #aa0c91;
}

.sh-command {
	color: #445588;
}

.grayed {
	color: #999;
}

.link {
	/*color: #0d61cb;*/
	color: #0088cc !important;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.main-cont {
	width: 950px;
	margin: auto;
}

.anchor {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.anchor:hover {
	text-decoration: underline;
}

.section-title {
	margin-bottom: 30px;
	margin-top: 40px;
	font-size: 25px;
	font-weight: 700;
}

.section-paragraph {
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}

.section-list {
	margin-bottom: 30px;
	font-weight: 300;
}

.list-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	font-size: 18px;
}

.code-block-cont {
	border-radius: 5px;
	padding: 12px 15px;
	margin: 20px 0;
	background-color: #fafafa;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.video-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.video {
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
}

.code-block {
	background: 0 0;
	padding: 0;
	white-space: pre;
	word-break: normal;
	font-size: 14px;
	color: #000;
}

.note-cont {
	margin-top: 20px;
	padding: 10px 20px;
	border-left: 2px solid #ffce54;
	background: rgb(255, 245, 221);
	font-size: 14px;
	font-weight: 400;
}

.note-tip {
	margin-top: 0px;
	padding: 10px 20px;
	border-left: 2px solid transparent;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
}

.action-button {
	margin-top: 30px;
	padding: 20px 20px 30px 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.a-button {
	display: inline-block;
	height: 40px;
	line-height: 43px;
	padding: 0 30px;
	background: rgb(26, 115, 232);
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	color: white;
}

.none {
	display: none;
}

.unselectable {
	user-select: none;
}

.footer {
	padding-bottom: 50px;
}

@media (max-width: 1100px) {
	.main-cont,
	.topic {
		width: 90%;
	}

	.header-nav {
		width: 100%;
		/* width: 800px; */
	}
}

@media (max-width: 950px) {
	.header-nav {
		font-size: 15px;
	}
	.header-cont {
		padding: 5px 20px;
	}
	.main-cont {
		/*width: 100%;*/
		padding: 20px;
		margin: auto;
	}
	.tags-cont {
		margin-right: 25px;
		margin-top: 10px;
	}
	.topic-cont {
		padding-top: 0px;
	}
	.topic {
		padding-bottom: 60px;
		display: flex;
		padding-left: 20px;
	}
	.section-title {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
	}
	.section-paragraph {
		font-size: 16px;
	}
	.section-list {
		font-weight: 300;
	}
	.list-item {
		font-size: 16px;
	}
	.code-block {
		font-size: 13px;
	}
	code {
		font-size: 85%;
	}

	.code-block-cont,
	.video-cont {
		margin: 10px 0;
	}
}

@media (max-width: 700px) {
	.header-nav,
	.main-cont,
	.topic {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.topic {
		display: flex;
		flex-flow: column nowrap;
		padding: 40px;
	}
	.topic-logo {
		margin-bottom: 14px;
	}

	.logo-wrapper {
		transform: rotateY(20deg) scale(0.5);
	}
}

@media (max-width: 425px) {
	.topic-title {
		flex-flow: column nowrap;
	}

	.topic-title-text {
		font-size: 30px;
		letter-spacing: -2px;
	}
	.topic-title-side {
		margin-bottom: 10px;
		margin-top: -4px;
	}

	.topic-description {
		font-size: 14px;
	}
}

@media (max-width: 335px) {
	.header-cont {
		padding: 5px 10px;
	}
	.tags-cont {
		margin-right: 0;
	}
	.topic {
		padding: 10px;
		padding-bottom: 15px;
	}
	.main-cont {
		padding: 10px;
	}

	.logo-wrapper {
		transform: rotateY(20deg) scale(0.4);
	}
	.topic-logo {
		margin-bottom: 0px;
	}
}
