/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
	margin: auto;
	font-family: Hind, sans-serif;
	color: #24292e;
}

.header-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 5px 50px;
	background: rgb(248, 248, 248);
}

.header-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 950px;
}

.nav-logo {
	background: #699935;
	width: 20px;
	height: 20px;
	border-radius: 400px 1000px 0 1000px;
}

.nav-item {
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-item span {
	height: 20px;
}

.nav-right-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.topic-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	margin-top: 100px;
}

.topic {
	padding-bottom: 80px;
	border-bottom: 1px solid #ededed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 950px;
}

.tags-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.topic-tag {
	padding: 0 5px;
	border-radius: 3px;
	font-size: 12px;
	border: 1px solid #333;
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-transform: lowercase;
	font-weight: bold;
	margin-left: 5px;
	line-height: 20px;
	/*height: 24px;*/
	padding: 1px 5px 0 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.topic-title {
	font-size: 38px;
}

.topic-description {
	font-size: 18px;
	font-weight: 300;
}

.title-name {
	font-size: 38px;
}

.message-description {
	font-size: 18px;
	font-weight: 300;
}

.bold {
	font-weight: 600;
}

.dim {
}

.list-bullet {
	font-size: 16px;
	font-weight: bold;
	padding-left: 7px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 100px;
	line-height: 28px;
	min-width: 20px;
}

code {
	background: #fff5cc;
	color: #71471c;
	margin: 0;
	border-radius: 3px;
	padding: 0 3px;
	font-size: 85%;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	display: inline-block;
}

.italic {
	font-style: italic;
}

.flag-name,
.operator {
	color: #aa0c91;
}

.sh-command {
	color: #445588;
}

.grayed {
	color: #999;
}

.link {
	color: #0d61cb;
	color: #0088cc;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.main-cont {
	width: 950px;
	margin: auto;
}

.anchor {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.anchor:hover {
	text-decoration: underline;
}

.section-title {
	margin-bottom: 30px;
	margin-top: 40px;
	font-size: 25px;
	font-weight: 700;
}

.section-paragraph {
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}

.section-list {
	margin-bottom: 30px;
	font-weight: 300;
}

.list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	font-size: 18px;
}

.code-block-cont {
	border-radius: 5px;
	padding: 12px 15px;
	margin: 20px 0;
	background-color: #fafafa;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.video-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 20px 0;
}

.video {
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
}

.code-block {
	background: 0 0;
	padding: 0;
	white-space: pre;
	word-break: normal;
	font-size: 14px;
	color: #000;
}

.note-cont {
	margin-top: 20px;
	padding: 10px 20px;
	border-left: 2px solid #ffce54;
	background: rgb(255, 245, 221);
	font-size: 14px;
	font-weight: 400;
}

.note-tip {
	margin-top: 0px;
	padding: 10px 20px;
	border-left: 2px solid transparent;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
}

.action-button {
	margin-top: 30px;
	padding: 20px 20px 30px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.a-button {
	display: inline-block;
	height: 40px;
	line-height: 43px;
	padding: 0 30px;
	background: rgb(26, 115, 232);
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	color: white;
}

.none {
	display: none;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer {
	padding-bottom: 50px;
}

@media (max-width: 1100px) {
	.main-cont,
	.topic {
		width: 90%;
	}

	.header-nav {
		width: 100%;
		/* width: 800px; */
	}
}

@media (max-width: 950px) {
	.header-nav {
		font-size: 15px;
	}
	.header-cont {
		padding: 5px 20px;
	}
	.main-cont {
		/*width: 100%;*/
		padding: 20px;
		margin: auto;
	}
	.tags-cont {
		margin-right: 25px;
		margin-bottom: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}
	.topic-cont {
		margin-top: 50px;
	}
	.topic {
		padding-bottom: 40px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding-left: 20px;
		/*width: 100%;*/
	}
	.topic-title {
		font-size: 28px;
	}
	.topic-description {
		font-size: 18px;
	}
	.section-title {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
	}
	.section-paragraph {
		font-size: 16px;
	}
	.section-list {
		font-weight: 300;
	}
	.list-item {
		font-size: 16px;
	}
	.code-block {
		font-size: 13px;
	}
	code {
		font-size: 85%;
	}

	.code-block-cont,
	.video-cont {
		margin: 10px 0;
	}
}

@media (max-width: 700px) {
	.header-nav,
	.main-cont,
	.topic {
		width: 100%;
	}
}

@media (max-width: 330px) {
	.header-cont {
		padding: 5px 10px;
	}
	.tags-cont {
		margin-right: 0;
	}
	.topic {
		padding: 10px;
		padding-bottom: 30px;
	}
	.main-cont {
		padding: 10px;
	}
}
